{% extends 'base.html' %}
{% block title %}
    KAIST Summer School Track II
{% endblock title %}
{% block stylesheet %}
    <link href="/media/css/track1.css" rel="stylesheet">
{% endblock stylesheet %}
{% block after_navbar %}

{% endblock after_navbar %}
{% block content %}
    <div class="col-lg-12">
        <div class="page-header">
            <h1>Track 2: Individual Research Program</h1>
        </div>
        <div class="col-lg-12" style="height: 300px; margin-bottom: 10px; background-image: url(/media/image/track2.jpg); background-size: cover; background-position: center">

        </div>
        <h3>2017 KISS Track 2</h3>
        <p>Individual Research Program is a 4-week research oriented program only students majoring in STEM (Science, Technology, Engineering, and Mathematics) fields with our strategic partner universities. There are no designated departments and labs for this program. Students will have the freedom to pick which department and lab they wish to join, which they must indicate in our online application. Upon submission of your application, KAIST will contact the department and lab to see if there are spaces available information on KAIST departments and labs are available at <br>http://www.kaist.edu</p>
        <br>
        <h4>Eligibility & Target Group</h4>
        <ul>
            <li>Undergraduate (minimum 1 year of full-time study at home university), graduate, or doctoral students majoring in STEM (Science, Technology, Engineering, and Mathematics) fields.</li>
            <li>GPA (Grade Point Average) of 3.0 or better (on a 4.3 point scale) or equivalent</li>
            <li>Applicants from institutions where the primary medium of instruction is not English are expected to submit English test score (TOEFL iBT: 80, IELTS: overall band 6.0, TOEIC: 800).</li>
        </ul>
        <br>
        <h4>Number of Credits</h4>
        <p>Number of credit: 1</p>
        <br>
        <h4>Tuition</h4>
        <p>KRW 1,500,000</p>
        <p>* There is no tuition exemption for Individual Research Program.</p>
        <br>
        <h4>Transferring Credits</h4>
        <p>For Individual Research Program, students will be given Pass or Non-pass grade</p>
        </div>
        
    </div>
{% endblock content %}
{% block script %}
    <script type="text/javascript">
    </script>
{% endblock script %}
